aiosmtpd==1.4.6
atpublic==7.0.0
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
chromium==0.0.0
click==8.4.1
colorama==0.4.6
cssselect==1.4.0
decorator==5.3.1
dict==2018.11.19
DrissionGet==1.2.1
DrissionPage==4.1.1.4
DrissionRecord==2.0.1
et_xmlfile==2.0.0
filelock==3.29.4
idna==3.18
logging==0.4.9.6
lxml==6.1.1
openpyxl==3.1.5
pip==23.2.1
psutil==7.2.2
public==2020.12.3
requests==2.34.2
requests-file==3.0.1
self==2020.12.3
setuptools==82.0.1
tldextract==5.3.1
urllib3==2.7.0
websocket-client==1.9.0
